html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	color: white;
	font-family: Times New Roman;
}

@font-face { font-family: TimesNewRomanMTStd-Cond; src: url('TimesNewRomanMTStd-Cond.otf'); } 
@font-face { font-family: GrotesqueMTStd; src: url('GrotesqueMTStd.otf'); } 


body{
	background: black;
}

::-webkit-scrollbar {
    width: 8px;
}
 
/* Track */
/*::-webkit-scrollbar-track {
    background: red; 
}*/
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;

    background: #FFF; 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #000;
    border: solid #FFF 1px; 
}

h1{
	font-family: TimesNewRomanMTStd-Cond;
	text-transform: uppercase;
	font-size: 48px;
	letter-spacing: -0.5px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	line-height: 1.1;

}

h2{
	line-height: 1.1;

	padding-left: 8%;
    padding-top: 7%;
    padding-right:8%;
    font-size: 72px;
    text-transform: capitalize;
    text-align: center;
    font-family: TimesNewRomanMTStd-Cond;
    letter-spacing: -1px;

}

h3{
	padding-top: 5%;
    font-family: TimesNewRomanMTStd-Cond;
text-transform: uppercase;
width: 50%;
margin: 0 auto;
line-height: 1.1;
	font-size: 36px;
	text-align: center;

}

p{
	padding-left: 8%;
    padding-top: 3%;
    padding-right:8%;
    padding-bottom: 0%;
	font-size: 36px;
	line-height: 1.2;
	letter-spacing: -0.1px;

}

.credit{
	text-align: center;
	width: 50%;
	margin: 0 auto;
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: -0px;
	padding-top: 7%;
	padding-bottom: 7%;

}

.quote{
	font-style: italic;
}

.introduction{
	font-family: TimesNewRomanMTStd-Cond;
	display: block;
	font-size: 48px;
	line-height: 1.1;
	padding-top: 3%;

}


.introduction.hide{
	display: none;
}



.lstext {
    display: none;
}


.blackmirrortext {
    display: none;
}


.policetext {
    display: none;
}


.ngtext {
    display: none;
}


.capitaltext {
    display: none;
}


.testotext {
    display: none;
}



.zip{
	width:100%;
	height: 100%;
	margin: 0 auto;
	padding: 0 0;
	top: 0;
	left: 0;
	overflow: hidden;
	background: pink;
	box-sizing: border-box;
}

.loc{
	width: 100%;
	height: 100%;
	left: 0;
	margin: 0 auto;
	padding: 0 0;
	background: red;
	box-sizing: border-box;
}

.title{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 15%;
	box-sizing: border-box;
	display:table;
	cursor: pointer;
	background-color: black;
	border-bottom: solid 2px white;
}


.title:hover h1{
	color: #00ff99;
	text-decoration: underline;
}

.images{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 50%;
	height: 85%;
	box-sizing: border-box;
	background-color: black;
	border-right: solid 2px white;
	overflow-y: scroll;
	overflow-x: hidden;
}


.illustration{
	background: #00ff99;
	width: 50vw;
	height: 50vw;
    position: relative;
    background-size: 100%, 100%;
    border-bottom: solid 2px white;
    background-repeat: no-repeat;
    background-position: center center; 
    cursor: pointer;

}

.illustration:hover{
    background-blend-mode: multiply;
}

.livingsurviving{
    background-image: url(images/LivingNot_2.png);
    width: 50vw;
    height: 28vw;
}

.blackmirrorbody{
    background-image: url(images/BlackMirrorBody.jpg);
    width: 50vw;
    height: 28vw;

}

.police{
    background-image: url(images/LiberalPolicing.png);
    width: 50vw;
    height: 28vw;
}

.notguilty{
    background-image: url(images/NotGuiltyLifeSentence.jpg);
    width: 50vw;
    height: 28vw;
}

.capital{
    background-image: url(images/spirit_of_capital.png);
    width: 50vw;
    height: 28vw;
}

.testojunkie{
    background-image: url(images/testo_junk_2.png);
    width: 50vw;
    height: 28vw;
}






img{
	width: 100%;
	height: auto;
	cursor: pointer;
    
}


img:hover {
	width: 100%;
	height: auto;
	border-bottom: solid 2px white;
	cursor: pointer;
    background-blend-mode: multiply;
}


.text{
	position: absolute;
	right: 0;
	bottom: 0;
	width: 50%;
	box-sizing: border-box;
	overflow-y: scroll;
	height: 85%;
	background-color: black;
	padding-bottom: 3%;
}

